<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Ooh Gás</h1>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
	  <mat-nav-list>
		<!-- Menu Vendas -->
		<mat-list-item (click)="toggleSubmenu('vendas')" class="parent">
		  <mat-icon mat-list-icon>shopping_cart</mat-icon>
		  <span class="full-width" *ngIf="isExpanded || isShowing">Vendas</span>
		  <mat-icon class="menu-button" [ngClass]="{'rotated' : submenuState['vendas']}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
		</mat-list-item>
  
		<div class="submenu" [ngClass]="{'expanded' : submenuState['vendas']}" *ngIf="isShowing || isExpanded">
		  <a mat-list-item routerLink="/clientes" routerLinkActive="router-link-active">Relatórios</a>
		  <a mat-list-item href="...">Portaria</a>
		  <a mat-list-item href="...">Clientes</a>
  
		  <mat-list-item (click)="toggleSubSubMenu('vendas')" class="parent">
			<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
			<mat-icon class="menu-button" [ngClass]="{'rotated' : submenuStateNested['vendas']}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
		  </mat-list-item>
  
		  <div class="submenu" [ngClass]="{'expanded' : submenuStateNested['vendas']}" *ngIf="isShowing || isExpanded">
			<mat-list-item>SubSubmenu Item 1</mat-list-item>
			<mat-list-item>SubSubmenu Item 2</mat-list-item>
		  </div>
		</div>
  
		<!-- Menu Configurações -->
		<mat-list-item (click)="toggleSubmenu('configuracoes')" class="parent">
		  <mat-icon mat-list-icon>settings</mat-icon>
		  <span class="full-width" *ngIf="isExpanded || isShowing">Configurações</span>
		  <mat-icon class="menu-button" [ngClass]="{'rotated' : submenuState['configuracoes']}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
		</mat-list-item>
  
		<div class="submenu" [ngClass]="{'expanded' : submenuState['configuracoes']}" *ngIf="isShowing || isExpanded">
		  <a mat-list-item routerLink="/entregadores" routerLinkActive="router-link-active">Entregadores</a>
		  <a mat-list-item routerLink="/categorias" routerLinkActive="router-link-active">Categorias</a>
			<a mat-list-item routerLink="/marcas" routerLinkActive="router-link-active">Marcas</a>
			<a mat-list-item routerLink="/produtos" routerLinkActive="router-link-active">Produtos</a>
		</div>
	  </mat-nav-list>
	</mat-sidenav>
  
	<div class="example-sidenav-content">
	  <router-outlet></router-outlet>
	</div>
  </mat-sidenav-container>